[Unit]
Description=einmerker FastAPI Application
After=network.target

[Service]
User=www-data
Group=www-data
WorkingDirectory=/var/www/einmerker
Environment="PATH=/var/www/einmerker/venv/bin"
EnvironmentFile=/var/www/einmerker/.env
ExecStart=/var/www/einmerker/venv/bin/uvicorn app.main:app --host 0.0.0.0 --port 8000
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
